<nav class="myAside">
    <div class="nav-wrapper grey">
      
        <ul class="left">
        <li><a href="#"><i class="mdi-maps-directions-ferry left"></i>Embarcaciones</a></li>
         <li><a href="#"><i class="mdi-navigation-apps left"></i>Repuestos</a></li>
        <li><a href="#"><i class="mdi-social-people-outline left"></i>Clientes</a></li>
        <li><a href="#"><i class="mdi-social-people left"></i>Empleados</a></li>
        <li><a class="modal-trigger" href="#modalLogin"><i class="mdi-social-person left"></i>Login</a></li>
      </ul>
    </div>
  </nav>