<!-- modal login -->
      <div id="modalLogin" class="modal">
        <div class="modal-content">
          <h4>Login</h4>
          <p>Para acceder a todas las características debe loguearse en el sistema</p>
          </div>
          <div class="container">
            <div class="row">
              <form class="col s12" action="includes/checkLogin.php" method="post" accept-charset="utf-8">
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" name="userName">
                    <label for="userName">Usuario</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="password" name="userPass">
                    <label for="userPass">Contraseña</label>
                  </div>
                  <div class="row"></div>
                  <input class="btn right" type="submit" value="Loguearse">
                </div>
              </form>
            </div>
          </div>

          
      </div>
  <!-- end modal login -->