<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="index.php" class="brand-logo">Embarcadero SL</a>
        <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="mdi-maps-directions-ferry left"></i>Embarcaciones</a></li>
         <li><a href="#"><i class="mdi-navigation-apps left"></i>Repuestos</a></li>
        <li><a href="#"><i class="mdi-social-people-outline left"></i>Clientes</a></li>
        <li><a href="empleado_panel.php"><i class="mdi-social-people left"></i>Empleados</a></li>
        <?php @session_start(); ?>
        <?php if(!empty($_SESSION)): ?>
        <li class="profile-pic">
          <!--<div  style="max-height: 40px; margin-top: 1em;">-->
            <a class="align-wrapper " href="includes/logOut.php">
           <!-- <img  class="valign responsive-img" style="max-height: 40px;" src="img/profiles/foto.jpg" alt="ds"-->
      
        <?php 
          @session_start();

          
          echo ' <img  class="valign responsive-img profile-name" style="max-height: 40px; margin-top:1em; padding-right=1em" src="img/profiles/'.$_SESSION['userPhoto'].'" alt="profile_pic">';


          echo "<div class=\"valign right profile-name\" >".$_SESSION['userName']; 

          ?> - Logout</div></a><!--</div>--></li>

        <?php else: ?>
        <li><a class="modal-trigger" href="#modalLogin"><i class="mdi-social-person left"></i>Login</a></li>
        <?php endif ?>
      </ul>
    </div>
  </nav>

</div>
<?php require_once 'modalLogin.html'; ?>