.container{
	margin: 0px !important;
	padding: auto 0px;
	width: 100%;
}

.player, .navigation-player{
	background-color: #60AF51;
	margin-bottom: 5px;
}

.navigation-player{
	max-height: 29px;
}

.navigation-player i{
	top: 20px;
}

.valign-wrapper i:hover{
	color: white;
}

i.mdi-av-my-library-music:hover{
	color: #061C37;
}

.navigation div{
	min-height: 50px;

}
.data-info{
	margin-top: 20px;
	background-color: white;
}

.info-player{
	margin-bottom: 0px;
	padding-bottom: .1em;

}

.title{
	font-weight: bold;
}

.playerTime{
	margin-left: -10px;
}

.no-margin-bottom{
	margin-bottom: 0px;
}

.xSmall, .mdi-content-add{
	margin: 0px;
	padding: 0px;
}

.sTiny{
	font-size: 1.5rem;
}

.minControls i:hover{
	color: white;
}

.white{
	color: white;
}

.black{
	color: black;
}

#playList{
	display: none;
}


.collection{
	max-height: 175px;
	overflow-y: scroll;
}

.collection .collection-item:hover{
	background: #BAE5B1;
	cursor: pointer;

}

.currentSong{
	background: #90D082 !important;
	color: #FFF;
	font-weight: bold;
}

.volumenValue{
	/*margin-top: -50px !important;*/
	font-size: 1rem;
	margin-left: 10px;
}