/*Creado con fontsquirrel*/
@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/dosis-medium-webfont.eot');
    src: url('../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('../fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

/*16px = 12pt = 100% = 1em*/	
body {
	background-image: url('../img/grill-960.png');
	background-color: #F7F7F7;
	color: #000000;
	font-family: "dosismedium", Helvetica, Verdana;
	font-size: 1em;
	max-width: 990px;
	display: block;
	/*overflow: hidden;*/
	margin: 0 auto;
	text-align: center;
	
}

img{
	max-width: 100%;
	height: auto;
}

#container{
	float: left;
  	width: 100%;
	background: #FFFFFF;
	margin: 0;
	padding: 0;

}
#header {
	background: #FFFFFF;
	border-bottom: solid 10px #000000;
	display: inline-block;	
}	

#nav-menu, #nav-menu ul{
	height: 68px;
	padding-left: 0;
}

#nav-menu *{		
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	/*min-height: auto;*/
	/*margin: 0;*/
	/*padding: 0;*/
	
}




#nav-menu ul {
	display: block;
	font-size: 2em;
	padding: .5em 0;
	margin: 0 0;
	vertical-align: middle;
}

#nav-menu ul li {
	
	background: #CFCFCF;
	
	/*width: auto;*/
	
}

#nav-memu li a {
	padding-top: .5em;
}

#nav-menu li a:hover {
	background: #0000FF;
	height: auto;
}
