/*Creado con fontsquirrel*/
@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/dosis-medium-webfont.eot');
    src: url('../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('../fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

/*16px = 12pt = 100% = 1em*/	
body {
	background-image: url('../img/grill-960.png');
	background-color: #F7F7F7;
	color: #000000;
	font-family: "dosismedium", Helvetica, Verdana;
	font-size: 1.25em;
	max-width: 960px;
	display: block;
	/*padding: 0 auto;*/
	margin: 0 auto;
	text-align: center;
	/*margin-bottom: 0;*/
	
}

#container {
	background: #C4C4C4;
	width: 100%;
	margin: 0 auto;
	/*margin-top: 0;*/
}

#header {
	width: 100%;
	background: #C4C4C4;
	vertical-align: bottom;
}

img{
	float: left;
	max-width: 100%;
	height: auto;
	/*vertical-align: top;*/
}

#nav-menu {
	float: left;
	background: #FFF;
	/*height: 64px;*/
	margin: 0;
	padding: 0;
	
}

#nav-menu ul {
	margin: 0;
	padding: 0;
	float: right;
	/*padding: 0;*/
	list-style-type: none;
	font-size: 1.5em;
	height: 64px;


}

#nav-menu li {
	height: inherit;
	display: inline;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-right: .04em;
	height: 64px;
	/*vertical-align: middle;*/
}

#nav-menu li a{
	display: block;
	text-decoration: none;
	background: #2CC559;
	line-height: 64px;
	padding: 0 1em;
}